name: Preview Cleanup

on:
  pull_request:
    types: [closed]

jobs:
  cleanup:
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest

    steps:
      - name: Delete Preview Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: delete --name "git-first-commit-pr-${{ github.event.pull_request.number }}" --force
